
.container_inner{
    margin-top: 70px;
    text-align: center;
    
} 
h3{
        font-size: 1.5em;
        margin:-20px 0 40px;
    }
.btn{    
        padding: 10px 40px;
        border-radius: 15px;     
        background-color:orangered;
        color:black;
        font-size: 1.3em;
    }